<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>amplitude</key>
		<real>0.00552</real>
		<key>barBodys</key>
		<array>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:30</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>7251624</integer>
				<key>totalVolume</key>
				<integer>800400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:31</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1821174</integer>
				<key>totalVolume</key>
				<integer>201040</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:32</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>2771043</integer>
				<key>totalVolume</key>
				<integer>306100</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:33</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>435649</integer>
				<key>totalVolume</key>
				<integer>48100</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:34</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>1381240</integer>
				<key>totalVolume</key>
				<integer>152540</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:35</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<real>2475255.6</real>
				<key>totalVolume</key>
				<integer>273432</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:36</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>415814</integer>
				<key>totalVolume</key>
				<integer>45900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:37</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>410109</integer>
				<key>totalVolume</key>
				<integer>45300</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:38</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>73691</integer>
				<key>totalVolume</key>
				<integer>8140</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:39</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1247693</integer>
				<key>totalVolume</key>
				<integer>137800</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:40</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>470650</integer>
				<key>totalVolume</key>
				<integer>51980</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:41</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>263969</integer>
				<key>totalVolume</key>
				<integer>29140</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:42</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<real>729445.2</real>
				<key>totalVolume</key>
				<integer>80520</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:43</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<real>282647.8</real>
				<key>totalVolume</key>
				<integer>31200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:44</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>672572</integer>
				<key>totalVolume</key>
				<integer>74240</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:45</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1405316</integer>
				<key>totalVolume</key>
				<integer>155200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:46</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>83821</integer>
				<key>totalVolume</key>
				<integer>9260</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:47</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>1049069</integer>
				<key>totalVolume</key>
				<integer>115780</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:48</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.050000000000001</real>
				<key>totalValue</key>
				<integer>480272</integer>
				<key>totalVolume</key>
				<integer>53060</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:49</string>
				<key>closePrice</key>
				<real>9.050000000000001</real>
				<key>highPrice</key>
				<real>9.06</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>494631</integer>
				<key>totalVolume</key>
				<integer>54600</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:50</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.050000000000001</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>374753.64</real>
				<key>totalVolume</key>
				<integer>41364</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:51</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>2216450</integer>
				<key>totalVolume</key>
				<integer>244600</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:52</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>505744</integer>
				<key>totalVolume</key>
				<integer>55800</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:53</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>594925</integer>
				<key>totalVolume</key>
				<integer>65600</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:54</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>622056</integer>
				<key>totalVolume</key>
				<integer>68600</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:55</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>1312733.6</real>
				<key>totalVolume</key>
				<integer>144860</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:56</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>348224</integer>
				<key>totalVolume</key>
				<integer>38400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:57</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>202968</integer>
				<key>totalVolume</key>
				<integer>22400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:58</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>1512566.2</real>
				<key>totalVolume</key>
				<integer>166920</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>09:59</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>210411</integer>
				<key>totalVolume</key>
				<integer>23200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:00</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>499055.4</real>
				<key>totalVolume</key>
				<integer>55040</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:01</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>326463</integer>
				<key>totalVolume</key>
				<integer>36000</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:02</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>320202.2</real>
				<key>totalVolume</key>
				<integer>35320</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:03</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>869754.22</real>
				<key>totalVolume</key>
				<integer>95987</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:04</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>850770.2</real>
				<key>totalVolume</key>
				<integer>93820</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:05</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>661692</integer>
				<key>totalVolume</key>
				<integer>73000</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:06</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>933009</integer>
				<key>totalVolume</key>
				<integer>102900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:07</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>4129666</integer>
				<key>totalVolume</key>
				<integer>455800</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:08</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1296802</integer>
				<key>totalVolume</key>
				<integer>143100</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:09</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>180414</integer>
				<key>totalVolume</key>
				<integer>19900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:10</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>346570.4</real>
				<key>totalVolume</key>
				<integer>38240</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:11</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>1012762.84</real>
				<key>totalVolume</key>
				<integer>111664</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:12</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>965907</integer>
				<key>totalVolume</key>
				<integer>106500</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:13</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>987755.84</real>
				<key>totalVolume</key>
				<integer>108914</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:14</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>963208</integer>
				<key>totalVolume</key>
				<integer>106200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:15</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>468448.6</real>
				<key>totalVolume</key>
				<integer>51660</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:16</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>580961.42</real>
				<key>totalVolume</key>
				<integer>64057</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:17</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1481984</integer>
				<key>totalVolume</key>
				<integer>163400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:18</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1649792</integer>
				<key>totalVolume</key>
				<integer>181900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:19</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>228495</integer>
				<key>totalVolume</key>
				<integer>25200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:20</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1968166</integer>
				<key>totalVolume</key>
				<integer>217000</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:21</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>287803.4</real>
				<key>totalVolume</key>
				<integer>31740</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:22</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>1548483</integer>
				<key>totalVolume</key>
				<integer>170900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:23</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>333652</integer>
				<key>totalVolume</key>
				<integer>36800</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:24</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>786066</integer>
				<key>totalVolume</key>
				<integer>86700</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:25</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>264671</integer>
				<key>totalVolume</key>
				<integer>29200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:26</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>486725</integer>
				<key>totalVolume</key>
				<integer>53700</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:27</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>716760.7</real>
				<key>totalVolume</key>
				<integer>79045</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:28</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>243958</integer>
				<key>totalVolume</key>
				<integer>26900</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:29</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>396489.2</real>
				<key>totalVolume</key>
				<integer>43720</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:30</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>519457</integer>
				<key>totalVolume</key>
				<integer>57300</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:31</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>210332</integer>
				<key>totalVolume</key>
				<integer>23200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:32</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>86657.60000000001</real>
				<key>totalVolume</key>
				<integer>9560</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:33</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<integer>834408</integer>
				<key>totalVolume</key>
				<integer>92000</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>10:34</string>
				<key>closePrice</key>
				<real>9.06</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>152415.26</real>
				<key>totalVolume</key>
				<integer>16821</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>13:02</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.08</real>
				<key>lowPrice</key>
				<real>9.07</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<real>1400463.8</real>
				<key>totalVolume</key>
				<integer>154240</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.06</string>
				<key>barTime</key>
				<string>13:03</string>
				<key>closePrice</key>
				<real>9.08</real>
				<key>highPrice</key>
				<real>9.08</real>
				<key>lowPrice</key>
				<real>9.07</real>
				<key>openPrice</key>
				<real>9.08</real>
				<key>totalValue</key>
				<real>812450.6</real>
				<key>totalVolume</key>
				<integer>89480</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:07</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<real>239202.2</real>
				<key>totalVolume</key>
				<integer>26340</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:08</string>
				<key>closePrice</key>
				<real>9.08</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>139055</integer>
				<key>totalVolume</key>
				<integer>15300</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:09</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>248944</integer>
				<key>totalVolume</key>
				<integer>27400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:10</string>
				<key>closePrice</key>
				<real>9.08</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>203608</integer>
				<key>totalVolume</key>
				<integer>22400</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:11</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>917333</integer>
				<key>totalVolume</key>
				<integer>101000</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:12</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>4974791</integer>
				<key>totalVolume</key>
				<integer>547300</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:13</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>810721</integer>
				<key>totalVolume</key>
				<integer>89200</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:14</string>
				<key>closePrice</key>
				<real>9.09</real>
				<key>highPrice</key>
				<real>9.09</real>
				<key>lowPrice</key>
				<real>9.08</real>
				<key>openPrice</key>
				<real>9.09</real>
				<key>totalValue</key>
				<integer>541744</integer>
				<key>totalVolume</key>
				<integer>59600</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:57</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.06</real>
				<key>openPrice</key>
				<real>9.06</real>
				<key>totalValue</key>
				<real>14312153.56</real>
				<key>totalVolume</key>
				<integer>1580960</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:58</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.07</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>0</integer>
				<key>totalVolume</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>14:59</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.07</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>0</integer>
				<key>totalVolume</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>MAvgData</key>
				<string>9.07</string>
				<key>barTime</key>
				<string>15:00</string>
				<key>closePrice</key>
				<real>9.07</real>
				<key>highPrice</key>
				<real>9.07</real>
				<key>lowPrice</key>
				<real>9.07</real>
				<key>openPrice</key>
				<real>9.07</real>
				<key>totalValue</key>
				<integer>3725956</integer>
				<key>totalVolume</key>
				<integer>410800</integer>
			</dict>
		</array>
		<key>currencyCD</key>
		<string>CNY</string>
		<key>exchangeCD</key>
		<string>XSHE</string>
		<key>shortNM</key>
		<string>平安银行</string>
		<key>ticker</key>
		<string>000001</string>
		<key>unit</key>
		<integer>1</integer>
		<key>utcOffset</key>
		<string>+08:00</string>
	</dict>
	<key>error_id</key>
	<integer>200</integer>
	<key>message</key>
	<string>success</string>
</dict>
</plist>
